@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	width: 100vw;
	height: 100vh;
}

a {
	color: white;
}

h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
}

.slide-in {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: pink;
	transform-origin: bottom;
	z-index: 30;
}

.slide-out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: pink;
	transform-origin: top;
	z-index: 30;
}

/* Card.css */
.card {
	/*transform: translateY(-50%);*/
	width: 160px;
	height: 240px;
	cursor: pointer;
	/*  transform-origin: center;*/
}

/*.card.full-screen {
    top: 0;
position: absolute;
	
  width: 100%;
  height: 100%;


}*/

.card.full {
	/*	background-color: yellow;*/
}

th,
td {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
	text-align: left;
}

td {
	font-weight: 300;
	color: lightgray;
}
